:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #02328b;
  }


  body {
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

  }
  
  .container{
    background-color: #fafafa;
    border: solid blue;
    display: flex;
    padding:20px;
    flex-direction: column;
    width: 300px;
    height: 300px;
  }

  .header{
    color: #010764;
  }

  .inputstyle{
    background-color: #ec9e0c;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 50px;
    font-size: 20px;
  }

  input{
    width: 50px;
    height: 20px;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  /* @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #213547;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  } */